h1{
    font-family: Times;
    font-size:50px;
    border-bottom:2px solid grey;
    
   }
   
img{
    width:15em;
    border:7px solid #FFFFFF;
    float:right;
    position:relative;
    margin-top:-93px;
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    margin-right:30px;
    box-shadow: 0px 0px 5px 5px grey;
}

.titles{
    font-weight:bold;
    font-style:italic;
    font-family:Arial;
    width: 140px;
    float:left;
    clear:left;
    border-right: 4px solid grey;
}

.subtitle{
    font-weight:bold;
    font-family:Arial;
    
}

body{
    background-color:#FFFFFF;
}


.container{
    
    padding: 10px 10px 25px 150px;
}

div div + div{
    float:left;
}